<html lang="en">
    <head>
    {% load static %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{% static 'publico/ico/favicon.png' %}">
            
        <title>Matheus Vanzan</title>
        
        <!-- Bootstrap core CSS -->
        <link href="{% static 'publico/css/bootstrap.css' %}" rel="stylesheet">
            
        <!-- Custom styles for this template -->
        <link href="{% static 'publico/css/main.css' %}" rel="stylesheet">
        <link href="{% static 'publico/css/font-awesome.min.css' %}" rel="stylesheet">
            
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
        
        <script src="{% static 'publico/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'publico/js/smoothscroll.js' %}"></script>         
        <script src="{% static 'publico/js/Chart.js' %}"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="{% static 'publico/js/html5shiv.js' %}"></script>
      <script src="{% static 'publico/js/respond.min.js' %}"></script>
    <![endif]-->
			
	<!-- Piwik -->
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(["setDomains", ["*.matheusvanzan.com"]]);
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//monitor.matheusvanzan.com/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', 2]);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<noscript><p><img src="//monitor.matheusvanzan.com/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
	<!-- End Piwik Code -->

    </head>     
    <body data-spy="scroll" data-offset="0" data-target="#nav"> 
        <div id="section-topbar"> 
            <div id="topbar-inner"> 
                <div class="container"> 
                    <div class="row"> 
                        <div class="dropdown"> 
                            <ul id="nav" class="nav"> 
                                <li class="menu-item">
                                    <a class="smoothScroll" href="#about" title="Sobre"><i class="icon-user"></i></a>
                                </li>                                 
                                <li class="menu-item">
                                    <a class="smoothScroll" href="#resume" title="Trabalhos"><i class="icon-file"></i></a>
                                </li>                                 
                                <li class="menu-item">
                                    <a class="smoothScroll" href="#work" title="Habilidades"><i class="icon-briefcase"></i></a>
                                </li>                                 
                                <li class="menu-item">
                                    <a class="smoothScroll" href="#contact" title="Contato"><i class="icon-envelope"></i></a>
                                </li>                                 
                            </ul>
                            <!--/ uL#nav -->                             
                        </div>
                        <!-- /.dropdown -->                         
                        <div class="clear"></div>                         
                    </div>
                    <!--/.row -->                     
                </div>
                <!--/.container -->                 
                <div class="clear"></div>                 
            </div>
            <!--/ #topbar-inner -->             
        </div>
        <!--/ #section-topbar -->         
        <div id="headerwrap"> 
            <div class="container"> 
                <div class="row centered"> 
                    <div class="col-lg-12"> 
                        <h1>Matheus Vanzan</h1>
                        <h3 class="text-shadow-black">Desenvolvedor | <a href="mailto:vanzan2015@gmail.com">vanzan2015@gmail.com</a></h3>
                    </div>
                    <!--/.col-lg-12 -->                     
                </div>
                <!--/.row -->                 
            </div>
            <!--/.container -->             
        </div>
        <!--/.#headerwrap -->         
        <section id="about" name="about"></section>   

        <div id="intro"> 
            <div class="container"> 
                <div class="row"> 
                    <br>
                    <div class="col-lg-2 col-lg-offset-1"> 
                        <h5>SOBRE</h5>
                    </div>                     
                    <div class="col-lg-9"> 
                        <p>
                        Engenheiro de Computação formado pelo Instituto Militar de Engenharia - IME. Possui experiência na área de consultoria de software a pequenas e 
                        médias empresas para desenvolvimento de aplicações específicas e personalizadas. Gosta de solucionar problemas e resolver desafios.
                        </p>

                        <br>

                        <p>
                        Diretor e fundador da start-up MV Developers, empresa de desenvolvimento de software - Desktop, Web e Mobile - em que trabalha desde o inicio de sua formação em 2011.
                        </p>

                        <br>

                        <p>
                        Atualmente trabalha no Exército Brasileiro com desenvolvimento de software Web e Mobile.
                        </p>
                    </div>                    
                </div>
                <!--/.row -->                 
            </div>
            <!--/.container -->             
        </div>
        <!--/ #intro -->         
        <section id="resume" name="resume"></section>    
        <br>     
              
        <!--WORK DESCRIPTION -->         
        <div class="container desc"> 
            <div class="row"> 
                <div class="col-lg-2 col-lg-offset-1"> 
                    <h5>TRABALHOS</h5>
                </div>                 
                <div class="col-lg-6"> 
                    <p>
                        <t>Fundador e Desenvolvedor</t>
                        <br /> 
						MV Developers
                        <br /> 
                    </p> 
                    <p>
                        <more>
                            Fundada no início de 2012, tem sido base para aprendizado e superação de novos desafios. A MV Developers se especializa em desenvolvimento voltado para o cliente. Tanto Desktop, Web ou Mobile, as soluções são customizadas e profissionais. Saiba mais aqui.
                        </more>
                    </p> 
                </div>                 
                <div class="col-lg-3"> 
                    <p><sm>JAN 2012 - HOJE</sm></p> 
                </div>                 
                <div class="col-lg-6 col-lg-offset-3"> 
                    <p>
                        <t>Desenvolvedor</t>
                        <br /> 
                        Centro Intergado de Telemática do Exército
                        <br /> 
                    </p> 
                    <p>
                        <more>
                            Desenvolvimento web e mobile para soluções corporativas de Correio eletrônico, Armazenamento de dados e Troca de mensagens instantâneas para o Exército Brasileiro.
                        </more>
                    </p> 
                </div>                 
                <div class="col-lg-3"> 
                    <p><sm>JAN 2014 - FEV 2014</sm></p> 
                </div>           
                <div class="col-lg-6 col-lg-offset-3"> 
                    <p>
                        <t>Desenvolvedor mobile - Estágio</t>
                        <br /> 
                        Centro Tecnológico do Exército 
                        <br /> 
                    </p> 
                    <p>
                        <more>
                            Estágio realizado pelos alunos do quarto ano do Instituto Militar de Engenharia. Foram implementadas interfaces de teste para aplicativos Android para projetos implementados na época.
                        </more>
                    </p> 
                </div>                 
                <div class="col-lg-3"> 
                    <p><sm>JAN 2014 - FEV 2014</sm></p> 
                </div>             
                <div class="col-lg-6 col-lg-offset-3"> 
                    <p>
                        <t>Consultor de Tecnologia da Informação</t>
                        <br /> 
						Clinolhos - Clínica de Olhos
                        <br /> 
                    </p> 
                    <p>
                        <more>
                            Consultoria e suporte técnico tanto na área de redes de computares e cabeamento estruturado quanto na área de desenvolvimento. A maior expêriencia até hoje adquirida foi de como lidar com pessoas e problemas da área de TI.
                        </more>
                    </p> 
                </div>                 
                <div class="col-lg-3"> 
                    <p><sm>JAN 2010 - HOJE</sm></p> 
                </div>                 
            </div>
            <!--/.row -->             
            <br> 
            <hr>             
        </div>

        <!--EDUCATION DESCRIPTION -->         
        <div class="container desc"> 
            <div class="row"> 
                <div class="col-lg-2 col-lg-offset-1"> 
                    <h5>CURSOS</h5>
                </div>                 
                <div class="col-lg-6"> 
                    <p>
                        <t>Instituto Militar de Engenharia - IME</t>
                        <br /> 
                        Graduação em Engenharia de Computação<br /> 
                        <i>5 anos de curso</i> 
                    </p> 
                </div>                 
                <div class="col-lg-3"> 
                    <p><sm>JAN 2011 - DEZ 2015</sm>
                    <!--<br /> <imp data-pg-id="4595"> 
                <sm data-pg-id="4596">EM ANDAMENTO</sm>
            </imp> --></p> 
                </div>                 
                <div class="col-lg-6 col-lg-offset-3"> 
                    <p>
                        <t>Universidade de Michigan</t>
                        <br /> 
                        Programa Ciência sem Fronteiras
                        <br /> 
                        <i>6 meses de curso</i>
                    </p> 
                </div>                 
                <div class="col-lg-3"> 
                    <p><sm>JUL 2014 - DEZ 2014</sm></p> 
                </div>                 
            </div>
            <!--/.row -->             
            <br> 
            <hr>             
        </div>
        <!--/.container -->   

        <!-- LATTES -->
        <!-- <div class="container desc"> 
            <div class="row"> 
                <div class="col-lg-2 col-lg-offset-1"> 
                    <h5>LATTES</h5>
                </div>                 
                <div class="col-lg-6"> 
                    <p><t>Plataforma Lattes</t><br /> 
						Currículo Lattes<br /> </p> 
                    <p><more>Meu currículo da Plataforma Lattes pode ser acessado pelo link ao lado.</more></p> 
                </div>                 
                <div class="col-lg-3"> 
                    <p>
                        <sm>JAN 2011 - HOJE</sm>
                        <br />
                        <imp> 
                            <sm>&nbsp;&nbsp;DOWNLOAD&nbsp;&nbsp;</sm>
                        </imp> </p> 
                </div>                 
            </div>       
            <br> 
        </div> -->


        <!--AWARDS DESCRIPTION -->      
        <section id="work" name="work"></section>   

        <!--SKILLS DESCRIPTION -->         
        <div id="skillswrap"> 
            <div class="container"> 
                <div class="row"> 
                <br>
                    <div class="col-lg-2 col-lg-offset-1"> 
                        <h5>DESKTOP</h5>
                    </div>     
                    <div class="col-lg-3 centered"> 
                        <canvas id="cplusplus" height="130" width="130"></canvas>                         
                        <p>C++</p> 
                        <br> 
                        <script>
                            var doughnutData = [
                                    {
                                        value: 65,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 35,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("cplusplus").getContext("2d")).Doughnut(doughnutData);
                        </script>                         
                    </div>                     
                    <div class="col-lg-3 centered"> 
                        <canvas id="java" height="130" width="130"></canvas>                         
                        <p>Java</p> 
                        <br> 
                        <script>
                            var doughnutData = [
                                    {
                                        value: 70,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 30,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("java").getContext("2d")).Doughnut(doughnutData);
                        </script>                         
                    </div>                     
                    <div class="col-lg-3 centered"> 
                        <canvas id="python" height="130" width="130"></canvas>                         
                        <p>Python</p> 
                        <br> 
                        <script>
                            var doughnutData = [
                                    {
                                        value: 90,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 10,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("python").getContext("2d")).Doughnut(doughnutData);
                        </script>                         
                    </div>   


                    <div class="col-lg-2 col-lg-offset-1"> 
                        <h5>WEB</h5>
                    </div>                
                    <div class="col-lg-3 centered"> 
                        <canvas id="php" height="130" width="130"></canvas>                         
                        <p>PHP</p> 
                        <br> 
                        <script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("php").getContext("2d")).Doughnut(doughnutData);
						</script>                         
                    </div>                     
                    <div class="col-lg-3 centered"> 
                        <canvas id="javascript" height="130" width="130"></canvas>                         
                        <p>HTML/CSS/Javascript</p> 
                        <br> 
                        <script>
							var doughnutData = [
									{
										value: 80,
										color:"#1abc9c"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
						</script>                         
                    </div>                     
                    <div class="col-lg-3 centered"> 
                        <canvas id="bootstrap" height="130" width="130"></canvas>                         
                        <p>Bootstrap</p> 
                        <br> 
                        <script>
							var doughnutData = [
									{
										value:75,
										color:"#1abc9c"
									},
									{
										value : 25,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
						</script>                         
                    </div>   


                    <div class="col-lg-2 col-lg-offset-1"> 
                        <h5>MOBILE</h5>
                    </div>                    
                    <div class="col-lg-3 centered"> 
                        <canvas id="ios" height="130" width="130"></canvas>                         
                        <p>iOS</p> 
                        <br> 
                        <script>
							var doughnutData = [
									{
										value: 55,
										color:"#1abc9c"
									},
									{
										value : 45,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("ios").getContext("2d")).Doughnut(doughnutData);
						</script>                         
                    </div>                     
                    <div class="col-lg-3 centered"> 
                        <canvas id="android" height="130" width="130"></canvas>                         
                        <p>Android</p> 
                        <br> 
                        <script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("android").getContext("2d")).Doughnut(doughnutData);
						</script>                         
                    </div>                     
                    <div class="col-lg-3 centered"> 
                        <canvas id="windows" height="130" width="130"></canvas>                         
                        <p>Windows Phone</p> 
                        <br> 
                        <script>
							var doughnutData = [
									{
										value: 35,
										color:"#1abc9c"
									},
									{
										value : 65,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("windows").getContext("2d")).Doughnut(doughnutData);
						</script>                         
                    </div>                     
                </div>
                <!--/.row -->                 
                <br> 
            </div>
            <!--/.container -->             
        </div>
        <!--/ #skillswrap -->         


       
        <!--PORTFOLIO DESCRIPTION -->         
        <!-- <div class="container desc"> 
            <div class="row"> 
                <div class="col-lg-2 col-lg-offset-1"> 
                    <h5>PORTFOLIO</h5> 
                </div>                 
                <div class="col-lg-6"> 
                    <p><img class="img-responsive" src="{% static 'publico/img/port01.jpg" alt=""></p> 
                </div>                 
                <div class="col-lg-3"> 
                    <p>CLINOLHOS</p> 
                    <p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            <br />
                            <br /> 
                            <sm>
                                <i class="icon-tag"></i> design
                            </sm>
                        </more> </p> 
                </div>                 
                <div class="col-lg-6 col-lg-offset-3"> 
                    <p><img class="img-responsive" src="{% static 'publico/img/port02.jpg" alt=""></p> 
                </div>                 
                <div class="col-lg-3"> 
                    <p>SANKEY</p> 
                    <p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            <br />
                            <br /> 
                            <sm>
                                <i class="icon-tag"></i> front-end
                            </sm>
                        </more> </p> 
                </div>                 
                <div class="col-lg-6 col-lg-offset-3"> 
                    <p><img class="img-responsive" src="{% static 'publico/img/port03.jpg" alt=""></p> 
                </div>                 
                <div class="col-lg-3"> 
                    <p>WE GROW</p> 
                    <p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            <br />
                            <br /> 
                            <sm>
                                <i class="icon-tag"></i> web design
                            </sm>
                        </more> </p> 
                </div>                 
            </div>          
            <br> 
            <br> 
        </div> -->
        <!--/.container -->         
        <section id="contact" name="contact"></section>         
        <!--FOOTER DESCRIPTION -->         
        <div id="footwrap"> 
            <div class="container"> 
                <div class="row"> 
                    <div class="col-lg-2 col-lg-offset-1"> 
                        <h5>CONTATOS</h5>
                    </div>                     
                    <div class="col-lg-6"> 
                        <p><t>Email</t><br><a href="mailto:vanzan2015@gmail.com">vanzan2015@gmail.com</a>&nbsp;<br> </p> 
                        <!--<p><t>Adress</t><br> 
						Some Ave. 987 <br data-pg-id="5683"> 
						Postal 23892 <br data-pg-id="5684"> 
						London, England. <br data-pg-id="5685"> </p> -->
                        <p><t>Telefone</t><br> +55 21 99512-8899&nbsp;<br> </p>
                    </div>                     
                    <div class="col-lg-3"> 
                        <p><sm>REDES SOCIAIS</sm></p> 
                        <p> 
                            <a href="https://www.facebook.com/matheus.vanzan">
                                <i class="icon-facebook"></i>
                            </a>
                            <!-- <a href="https://twitter.com/matheusvanzan">
                                <i class="icon-twitter"></i>
                            </a> -->
                            <a href="https://br.linkedin.com/pub/matheus-vanzan/8b/210/4b0">
                                <i class="icon-linkedin"></i>
                            </a>
                        </p> 
                    </div>
                </div>
                <!--/.row -->                 
            </div>
            <!--/.container -->             
        </div>
        <!--/ #footer -->         
        <!-- Bootstrap core JavaScript
    ================================================== -->         
        <!-- Placed at the end of the document so the pages load faster -->         
        <script src="{% static 'publico/js/bootstrap.js' %}"></script>         
    </body>     
</html>
